.importacion-container {
    padding: 1rem;
}

.importacion-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.importacion-desc {
    max-width: 60rem;
}
